@import '../utils/color';

// /*text formatting*/
.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

// /*page index*/
.page-body {
  color: $second-text-color;
  font-family: Roboto, sans-serif;
  background-color: $main-background-color;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

// /*conteiner*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

///*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

// /*page portfolio*/
.page-portfolio {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: var(--main-background-color);
}
