@import '../utils/color';

// /*logo*/
.logo {
  margin-right: 93px;

  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--header-color {
  color: $logo-text;
}

.logo--footer-color {
  color: $accent-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
