@import '../utils/color';

.button {
  background-color: $accent-background-color;
  text-align: center;
}

.button__container {
  width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/icons/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button__title {
  width: 696px;
  padding-top: 200px;
  margin-bottom: 30px;
  text-align: center;

  color: $accent-text-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button__element {
  margin-bottom: 200px;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px solid transparent;

  color: $accent-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.84;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:focus,
  &:hover {
    background-color: $accent-button-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active {
    color: $main-text-color;
    background-color: $second-background-color;
  }
}
