@import '../utils/color';

// /*button filtres*/
.filtres {
  margin-bottom: 50px;
}

.filtres__list {
  display: flex;
  justify-content: center;
}

.filtres__bit:not(:last-child) {
  margin-right: 8px;
}

.filtres__button {
  padding: 6px 22px;

  color: $main-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border: 0px solid transparent;
  border-radius: 4px;

  background-color: $second-background-color;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// /*project*/
.project__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
}
.list-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}
.list-cards__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  max-height: 404px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.list-cards__link {
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover .list-cards__text {
    background-color: rgba(33, 150, 243, 0.9);
    color: $accent-text-color;
    opacity: 1;
    transform: translatex(0);
  }
}
.list-cards__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: $second-text-color;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.list-cards__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translatey(100%);
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250mscubic-bezier(0.4, 0, 0.2, 1);
}
.list-cards__image {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.list-cards__image--position {
  position: relative;
  overflow: hidden;
}
