@import '../utils/variables';

.section-team {
  background-color: $second-background-color;
}

.section-team__title {
  margin-bottom: 50px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list__item {
  width: 270px;

  text-align: center;
  box-shadow: $box-shadow;
  border-radius: 0px 0px 4px 4px;

  background-color: $main-background-color;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__photo {
  margin-bottom: 30px;
  overflow: hidden;
}

.team-list__names {
  margin-bottom: 10px;

  color: $main-text-color;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 16px;
  color: $second-text-color;
}

.team-icons__list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0px 32px 30px 32px;
  justify-content: center;
}

.team-icons__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.team-icons___link {
  display: flex;
  border-radius: 50%;
  fill: $color-icons;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $accent-text-color;
  }
}

.team-icons___logo {
  width: 44px;
  height: 44px;
  padding: 12px 12px;
}
