.works {
  background-color: $main-background-color;
}

.works-item {
  display: flex;
}

.works-item > li:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-bottom: 50px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  position: relative;
  width: 370px;
  height: 294px;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;

  text-align: center;
  padding-top: 27px;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $accent-text-color;
  background: rgba(47, 48, 58, 0.8);
}
