// :root {
//   --main-text-color: #212121;
//   --second-text-color: #757575;
//   --accent-text-color: #ffffff;
//   --accent-color: #2196f3;
//   --logo-text: #000000;
//   --accent-button-color: #188ce8;
//   --main-background-color: #ffffff;
//   --second-background-color: #f5f4fa;
//   --accent-background-color: #2f303a;
//   --color-icons: #afb1b8;
//   --modal-background-color: #ffffff;
// }

$main-text-color: #212121;
$second-text-color: #757575;
$accent-text-color: #ffffff;
$accent-color: #2196f3;
$logo-text: #000000;
$accent-button-color: #188ce8;
$main-background-color: #ffffff;
$second-background-color: #f5f4fa;
$accent-background-color: #2f303a;
$color-icons: #afb1b8;
$modal-background-color: #ffffff;
